/* Initial settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Page */
body {
  height: 100vh;
  width: 100vw;
  border: 1rem solid black;
  background-color: #f5f5f5;
}

.game {
  font-family: "Galindo", cursive;
  display: flex;
  flex-direction: column;
}

.game h1 {
  font-size: 4.8rem;
  text-align: center;
  pointer-events: none;
  height: 15vh;
  line-height: 15vh;
  text-shadow: 0.3rem 0.3rem #8a8a8a;
  margin-bottom: 2vh;
}

/* Drawing screen (menu and board) */
.drawing-screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Menu */
.menu {
  font-size: 1.8rem;
  height: 48rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0.5rem solid black;
  background-color: #e5e5e5;
  margin-left: 15rem;
  box-shadow: 0.5rem 0.5rem #8a8a8a;
  padding: 2rem 0 2rem 0;
}

.menu hr {
  height: 0.2rem;
  width: 12rem;
  background-color: #9c9c9c;
  opacity: 60%;
}

.grid-size,
.color-pick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-size input {
  cursor: pointer;
  outline: none;
}

.grid-size h2,
.color-pick h2 {
  margin-bottom: 1.5rem;
  pointer-events: none;
}

.grid-size h3 {
  font-size: 2rem;
  margin-top: 1rem;
  pointer-events: none;
}

.color-pick input {
  height: 3rem;
  width: 8rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.eraser,
.clear {
  border: none;
  font-family: inherit;
  font-size: 2.5rem;
  background: none;
  cursor: pointer;
  outline: none;
}

.color-pick input:hover,
.eraser:hover,
.clear:hover {
  transform: scale(1.1);
}

/* Board */
.board {
  height: 50rem;
  width: 50rem;
  border: 0.5rem solid black;
  margin-right: 15rem;
  box-shadow: 0.5rem 0.5rem #8a8a8a;
}

/* ------------- */
/* Media Queries */
@media (max-width: 1075px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 940px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 35%;
  }

  .drawing-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    height: 16rem;
    width: 74rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 6vh 0;
    padding: 0;
  }

  .menu hr {
    width: 0.2rem;
    height: 12rem;
  }

  .board {
    margin-right: 0;
    height: 65rem;
    width: 65rem;
  }
}
